<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= playlist.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1><%= playlist.name %></h1>
    <p><%= playlist.description %></p>
    <select name="tracks" id="tracks">
    <% tracks.forEach(showTracks => { %>
        <option value="<%=showTracks._id  %>">Artist Name: <%= showTracks.artistName %> Track Name: <%= showTracks.trackName %></option>
    <% }) %>
    </select>   
</body>
</html>

 <!-- fix the show route -->
<!-- tracks shuould apper on this show page -->